$indigo-100: #edf2ff;
$indigo-400: #91a7ff;
$indigo-600: #5c7cfa;

$gray-200: #646464;
$gray-300: #505050;
$gray-400: #3c3c3c;
$gray-500: #1e1e1e;
$gray-600: #121212;

$vue: #41b883;
$javascript: #f7df1e;
$sass: #cf649a;
$figma: #a259ff;
$html: #f16529;
